{% extends "base.html" %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <h2>About Digital Nomad</h2>
        <p>Digital Nomad started is a way to test various skills in a live environment. Learning New Technologies and implementing them with help of AWS Serverless, Docker Container, Dev-ops Pipeline to get a overall idea about development process.</p>
        <p>The Backend of this website will be updated frequently than the content it hosts currently! so that it stays true to the goal of learning rather than monetizing. </p>
      </div>
    </div>
    <!-- /.row -->
 </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Digital Nomad 2020</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}